asgiref==3.6.0
Django==4.1.7
django-cors-headers==3.14.0
django-taggit==3.1.0
djangorestframework==3.14.0
djangorestframework-api-key==2.3.0
Pillow==9.4.0
psycopg2-binary==2.9.5
python-decouple==3.7
pytz==2022.7.1
sqlparse==0.4.3
